{% extends "style.html" %}

{% block content %}

<form method="POST">
	<div class='inner'>
		<h1 style='color: white;'>Vous voulez déposer une annonce pour un animal :</h1>
		<input type="radio" name='type' id="perdu" value="Perdu">Perdu
		<input type="radio" name='type' id="troué" value="Trouvé">Trouvé
	</div>
                
		<label for="race">Race :</label>
			<input type="radio" id='race' name='race' value="Chien" >Chien
			<input type="radio" id='race' name='race' value="Chat" >Chat
			<input type="radio" id='race' name='race' value="Autre">Autre
						
		<label for="sexe">Sexe :</label>
			<input type="radio" id="sexe" name="sexe"  value="Male">Male
			<input type="radio" id="sexe" name="sexe" value="Female">Female
			<input type="radio" id="sexe" name="sexe" value="Ne sais pas">Ne sais pas
					
		<label for="color">Couleur :</label>
			<input type="text" id="color" name="color">
					
		<label for="city">Ville :</label>
			<input type="text" id="city" name="city">
					
		<input type="submit" value="Enregistrer">
			
</form>
        

{% endblock %}
