{% extends "perdu.html" %}

{% block annonce %}

{% for a in animals %}
<a href='/{{a._id}}' class=block id={{a.race}}>
    <img src={{a.picture}} height=280px width=300px></img>
    <ul>
        <li>Race : {{a.race}}</li>
        <li>Couleur : {{a.color}}</li>
        <li>Ville : {{a.city}}</li>
        <li>Sexe : {{a.sexe}}</li>
    </ul>
</a>
<div class= 'inner'><h1>Vous ne trouvez pas votre animal ?</h1>
    <a href='/new'><button class='button'><h2>Déposez une annonce</h2></button></a>
</div>

{% endfor %}

{% endblock %}