{% extends "style.html" %}

{% block content %}

<form method="POST">
  <div class='inner'>
    <h1 style='color: white;'>Pour nous contacter :</h1>=
  </div>
          
    <div>
      <label for="name">Votre nom :</label>
      <input type="text" id="name" name="name">
    </div>
    <div>
      <label for="subject">Sujet :</label>
      <input type="text" id="subject" name="subject">
    </div>
    <div>
      <label for="message">Message :</label>
      <textarea id="message" name="message"></textarea>
    </div>
    
      <input type="submit" value="Enregistrer">

      </form>

{% endblock %}