<!DOCTYPE html>
<html> 
 <head> 
   <meta charset="utf-8">
   <title>{{ title }}</title> 
 </head>
 <body> 
   {{{ body }}} 
 </body>
</html>

Lancer votre projet

Si vous avez installé nodemon, au lieu d'utiliser node index.js, lancez votre projet dans le terminal avec la commande :

nodemon index.js

De cette façon, le serveur se relancera automatiquement lorsque vous sauvegarderez vos fichiers, et vous pourrez ainsi voir directement les changements
Git

    Commandes à connaitre :
        git clone __chemin__
        git add __fichier__ / -A / -u
        git commit -m "message pertinent"
        git push
        git status
        git log
    Il n'est pas nécessaire de push chaque commit

Votre template defaultLayout index.hbs Créez le fichier index.hbs dans le dossier views, contenant le code suivant : <!DOCTYPE html> <html> <head> <meta charset="utf-8"> <title>{{ title }}</title> </head> <body> {{{ body }}} </body> </html> 
