{% extends "style.html" %}

{% block content %}

<script type="text/javascript" src="/js/perdu.js"></script>
<link rel="javascript" type="text/javascript" href="index.js">
<div class="site-wrapper-inner">
	<div class="cover-container">
		<div class="inner">
			<h1>VOUS AVEZ PERDU UN ANIMAL ? </h1>
			<h2>Vous pouvez selectionner la race de votre animal :</h2>
			<nav>
				<a href='/perdu/cats'><button class="button"><span>Chats </span></button></a>
				<a href='/perdu/dogs'><button class="button"><span>Chiens</span></button></a>
				<a href='/perdu/others'><button class="button" ><span>Autre</span></button></a>
			</nav> 
			</p>
		</div>
	
        <h1 style='color: DarkSlateGray;'>OU ALORS, vous pouvez avoir accès à tout nos
           <a href='/perdu/all'><button class="button">animaux retrouvés</button></a>
		  </h1>
		  
		  <div class="animals" id="animals"> {% block annonce %} {% endblock %}</div>
	
      </div>
      </div>
{% endblock %}
