<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href='/css/perdu.css'/>
		<link rel="stylesheet" type="text/css" href='/css/syla.css'/>
		<script type="text/javascript" src='/js/perdu.js'></script>
		<link rel="javascript" type="text/javascript" href="index.js">
                  <div class="inner">
			<h1 class="logo"><a href='/'><title>{{id}}</title>
				<div class="title" ><img src='/images/capture.png' height="80" width="230"></img></div></a>
			</h1>
			<nav class="barre-link">
		              <a class="link" href='/type/perdu'> Vous avez perdu votre animal</a>
		              <a class="link" href='/type/trouve'> Vous avez trouvé un animal</a>
		              <a class="link" href="a_propos_site.html">A propos</a>
		              <a class="link" href='/new'><i class="fas fa-user"></i>Déposer une annonce</a>
			</nav>
                  </div>
		
	</head>
	    <body>
        
                
                {% block content %}{% endblock %}
                
         
		
        
    </body>
	
</html>

