.title{
   position: relative;
    text-align: center;
     width: 100%;
}



.image{
	background-image : url(background3.jpg);

	background-repeat : no-repeat;
	background-size: cover;
}
	

.deuxblock{
	text-align : center;
	margin-top : 200px;
}

.block{
  height: 200px;
  width: 400px;
  display: inline-block;
  margin: 50px 100px 0px 100px;
  background-color: rosybrown;
  text-align: center;
  padding: 1em;
  border-radius : 20%;
  padding-top : 130px;
  font-family: 'Raleway', sans-serif;
 }
.right{
  box-sizing:content-box;
}
.left{
  box-sizing:content-box;
}
a.block:hover {
  background-color: lightSalmon;
  height : 220;
  width : 420;
}

a{
  color : white;
  text-decoration : none;
}



