
.image{
	background-image : url(background3.jpg);
	background-repeat : no-repeat;
	background-size: cover;
}

.block1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.deuxblock{
	text-align : center;
	margin-left: 450px;
	margin-right: 450px;
}

.block{
  height: 200px;
  width: 400px;
  border: solid 3px white;
  display: inline-block;
  background-color: Teal;
  text-align: center;
  padding: 1em;
  border-radius : 20%;
  padding-top : 130px;
  font-family: 'Raleway', sans-serif;
 }

.right{
  float: right;
  box-sizing:content-box;
}

.left{
  float: left;
  box-sizing:content-box;
}

a.block:hover {
  background-color: white;
  color: Teal;
  border: solid 3px Teal;
  transition-duration: 1s;
  font-size: 20px;
}



h1{
	color: Teal;
	font-weight: normal;
	font-family: 'Playfair', serif;
	font-size: 100px;
}

h2{
	color: Teal;
	font-weight: normal;
	margin-left:40px;
}



