.title{
    position: relative;
    text-align: center;
     width: 100%;
}
.title::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background: blue;
    height: 2px;
    z-index: -1;
    
}
.title span{
    background: blue;
    padding: 4px 8px;
}
.image{
	background-image:url(/users/Etu5/3971165/Projet/public/images/background.jpg);
	background-color:white;
	background-attachment:fixed;
	background-position:right bottom;
	

}
.block{
  height: 100px;
  width: 200px;
  display: inline-block;
  margin: 30px 50px 0px 50px;
  background-color: lightcyan;
  text-align: center;
  border: solid 5px pink;
  padding: 10px;
 }
.right{

  box-sizing:content-box;
}
.left{
  box-sizing:content-box;
}
 



