
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}



.text {
	text-align : center;
	font-family:  Courier;
}

.page .inner{
	background-color: coral;
}

.toutes{
	margin-left: 10%;
	width: 80%;
	text-align: center;
	
}
.image{
	background-color: Teal;
	border-radius :25%;
	height: 200px;
	display: inline-block;
	margin: 10px 50px 10px 50px;
	padding: 1em;
}


.block{
	display : inline-block;
	background-color: coral;
	border: .05rem solid coral;
	margin-left:50px;
	margin-bottom:50px;
	padding:20px;
	border-radius:20%;
}

img{
	border-radius:20%;
}


.barre{
	margin-left:100px;
	height : 100px;
	width : 100%;
	
}

.titre{
	float: left;
	width:30%;
	display: inline-block;
	height: 50px;
	text-align: center;
	padding-top:30px;
	border-radius:20%
}

.lost{
	background-color : white;
	color: Teal;
}
.found{
	background-color: Teal;
	color: white;
}




a,
a:focus,
a:hover {
  color: Teal;
}

/* Custom default button 
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` 
  background-color: #fff;
  border: .05rem solid #fff;
}*/


/* Les boutons chien, chats, autre
	on ajoute le span car sans lui, le << est ajouté au block, non au mot
*/
 nav .button {
  border-radius: 4px;
  background-color: coral;
  border: .05rem solid coral;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 30%;
  transition: 0.5s;
  margin: 5px;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 25px;
}

.button:hover span:after {
  opacity: 1;
  left: 0;
}

p{
	font-size: large;
	color:white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

p+ button{
	color: white;
	transition: 0.5s;
}

p+ button:hover{
	font-size: larger;
	transition: 0.5s;
}




