

.title{
	font-family: 'Raleway', sans-serif;
}
.logo{
  float: left;
  margin-top: -10px;
}

a{
  color : white;
  text-decoration : none;
}

h2{
	color: Teal;
	font-weight: normal;
	margin-left:100px;
}

