.title{
   position: relative;
    text-align: center;
     width: 100%;
}
.title::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background: blue;
    height: 2px;
    z-index: -1;
    
}
.title span{
    background: blue;
    padding: 4px 8px;
}
