{% extends "style.html" %}

{% block content %}

<script type="text/javascript" src="/js/perdu.js"></script>
<link rel="javascript" type="text/javascript" href="index.js">
<div class="site-wrapper-inner">
	<div class="cover-container">
		<div class="inner">
		  <p>VOUS AVEZ PARDU VOTRE ANIMAL ? PAS DE PANIQUE</p>
		  <p>Vous pouvez selectionner la race que vous cherchez :
			<nav>
				<button class="button" onclick="showCats();" ><span>Chats </span></button>
				<button class="button" onclick="showDogs();" ><span>Chiens</span></button>
				<button class="button" onclick="showOthers();"><span>Autre</span></button>
			</nav> 
		  </p>
		</div>
	
	<p>OU ALORS, vous pouvez avoir accès à tout nos
	  <button class="button" onclick ="showAnimals();">animaux retrouvés</button>
	</p>
	  <div id="animals"></div>
  </div>
{% endblock %}
