.image{
	background-image : url('/images/background3.jpg');
	background-repeat : no-repeat;
	background-size: cover;
}

.deuxblock{
	text-align : center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.png{
	float: left;
	margin-top: 30px;
}

.block{
  height: 200px;
  width: 400px;
  border: solid 3px white;
  display: inline-block;
  background-color: Teal;
  text-align: center;
  padding: 1em;
  border-radius : 20%;
  padding-top : 130px;
  font-family: 'Raleway', sans-serif;
 }

.right{
  float: right;
  box-sizing:content-box;
}

.left{
  float: left;
  box-sizing:content-box;
}

a.block:hover {
  background-color: white;
  color: Teal;
  border: solid 3px Teal;
  transition-duration: 1s;
  font-size: 20px;
}

.heading{
	margin-top: 50px;
	padding-top:0;
	margin-left: auto;
	margin-right: auto;
	width : 70%;
	text-align: center;
}

h1{
	color: coral;
	font-weight: normal;
	font-family: 'Playfair', serif;
	font-size: 80px;
    text-align: center;
}



