

.container {
	display: table-cell;
	margin-right: auto;
	margin-left: auto;
}

.page .inner{
	background-color: coral;
}


.image{
	background-color: Teal;
	border-radius :25%;
	height: 200px;
	display: inline-block;
	margin: 10px 50px 10px 50px;
	padding: 1em;
}


.block{
	display : inline-block;
	text-align: left;
	background-color: white;
	color: teal;
	border: 0.5rem solid coral;
	margin-left:50px;
	margin-bottom:50px;
	padding:20px;
	border-radius:20%;
}

.animals{
	text-align: center;
}

img{
	border-radius:20%;
}


.titre{
	float: left;
	width:30%;
	display: inline-block;
	height: 50px;
	text-align: center;
	padding-top:30px;
	border-radius:20%
}


a,
a:hover {
  color: Teal;
}


 nav .button {
  background-color: coral;
  border: .05rem solid coral;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 30%;
  transition: 0.5s;
  margin: 5px;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 25px;
}

.button:hover span:after {
  opacity: 1;
  left: 0;
}

p{
	font-size: large;
	color:white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

h1 .button{
	color: teal;
	transition: 0.5s;
	font-size: 35px;
	background-color : transparent;
	border: 2px solid transparent;
}

h1 .button:hover{
	font-size: 45px;
	margin-top: -15px;
	transition: 0.5s;
}

h1, h2{
	text-align: center;
}



